$x-small: 360px;
$small: 600px;
$medium: 768px;
$large: 1024px;
$x-large: 1440px;

@mixin x-small() {
  @media (width >= $x-small) {
    @content;
  }
}

@mixin small() {
  @media (width >= $small) {
    @content;
  }
}

@mixin medium() {
  @media (width >= $medium) {
    @content;
  }
}

@mixin large() {
  @media (width >= $large) {
    @content;
  }
}

@mixin x-large() {
  @media (width >= $x-large) {
    @content;
  }
}
