.type-normal {
  --color: #c2c2a1;
}

.type-flying {
  --color: #bab0d5;
}

.type-ghost {
  --color: #735797;
}

.type-dark {
  --color: #333;
}

.type-steel {
  --color: #ccccde;
}

.type-ground {
  --color: #b1736c;
}

.type-poison {
  --color: #7c538c;
}

.type-grass {
  --color: #48cfb2;
}

.type-fire {
  --color: #fb6c6c;
}

.type-electric {
  --color: #f6c747;
}

.type-fairy {
  --color: #f469a9;
}

.type-bug {
  --color: #c3ce75;
}

.type-fighting {
  --color: #d6b591;
}

.type-water {
  --color: #429bed;
}

.type-psychic {
  --color: #9b7fa6;
}

.type-ice {
  --color: #7fccec;
}

.type-rock {
  --color: #a6aab6;
}

.type-dragon {
  --color: #f9be00;
}
