@import '../../sass/utils/breakpoints';

.card-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 2rem;

  @include x-small {
    grid-template-columns: repeat(2, 1fr);
  }

  @include small {
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }

  @include medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include large {
    grid-template-columns: repeat(3, 1fr);
  }

  @include x-large {
    grid-template-columns: repeat(4, 1fr);
  }
}
