@import '../sass/utils/breakpoints';

.pokedex {
  min-height: 100svh;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  padding: 2rem;
  overflow: hidden;
  position: relative;

  h1 {
    padding: 1rem 0;
  }

  @include small() {
    padding: 2.5rem;
  }
  @include large() {
    padding: 2.5rem;
  }
}
